@mixin bg--general {
    margin: 0 auto;
    padding: 50px 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

@mixin nav--destacado {
    background-color: $nav--destacado--fondo;
    color: $nav--destacado--letra;
    border-image: linear-gradient(45deg, rgb(143, 55, 0), #ffc107) 1;
    border: 1px solid;
    border-radius: 3px;  
}

@mixin proyecto--flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}



@mixin bg--proyecto-1 {
    background: #DD5E89; 
        background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89);  
        background: linear-gradient(to right, #F7BB97, #DD5E89); 
}

@mixin bg--proyecto-2 {
    background: #0F2027; 
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
} 

@mixin bg--proyecto-3 {
    background: #373B44; 
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  
    background: linear-gradient(to right, #4286f4, #373B44); 
}

@mixin bg--proyecto-4 {
    background: #c31432; 
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  
    background: linear-gradient(to right, #240b36, #c31432);
}

@mixin bg--proyecto-5 {
    background: #2C3E50; 
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  
    background: linear-gradient(to right, #4CA1AF, #2C3E50);
}


@mixin contacto_cajas {

    background-color: #fbfbfb; 
    width: 100%; 
    border-radius: 5px;  
    border: brown 1px solid; 
    box-sizing: border-box;
    margin-bottom: 20px; 
    padding: 10px;  
    
} 