
/* Variables Fuentes */
$fuente--titulo: "Viga-Regular", cursive;
$fuente--parrafo: "NanumBrushScript-Regular", cursive;
$fuente--cursos: "Viga-Regular", cursive;

$fuenteh--tamanio: (xx-large, x-large, large, medium, small);

/* Variables Fondos */


$pg--totales: 6;


$paginas: ("home", "laboral", "academica", "tecnologia", "blog", "contacto");
