
/* Variables Fuentes */
$fuente--titulo: "Viga-Regular", cursive;
$fuente--parrafo: "NanumBrushScript-Regular", cursive;
$fuente--cursos: "Viga-Regular", cursive;

$fuenteh--tamanio: (xx-large, x-large, large, medium, small);

/* Variables Fondos */


/*Listado de Páginas*/
$pg--totales: 6;

$paginas: ("home", "laboral", "academica", "tecnologia", "blog", "contacto");

/*Colores Menú */
$nav--destacado--fondo: #830c0c;
$nav--destacado--letra:white;