/* FORMULARIO DE CONTACTO*/


.contact_form{  
    width: 460px; 
    height: auto;
    margin: 20px auto;
    border-radius: 10px;  
    padding-top: 10px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding: 0 30px; 
  }
  
  
input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: brown; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color:brown; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
label{
    display: block; 
    float: center;  
  }
  
  
button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: brown; 
    border-color: brown; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;

  
  
    & p{
        color: #fff; 
    }
}  
  
  span{
    color: brown; 
  }
  
  
.aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }



.formulario {
    outline:0;

    & input:focus{    
        border: 1px solid #97d848;
      }
      
      
    & textarea:focus{
        border: 1px solid #97d848;
      }
}

  