/* HEADER - NAVEGACIÓN */ 

.navegacion {
    border: 1px solid;
    margin: 0 1px;
    text-transform: uppercase;
    border-image: linear-gradient(183deg, rgb(0 0 0 / 1%), #0000000d) 1;

    & a:hover {
        @include nav--destacado;
    }

    & a:active {
        background-color: aquamarine;
    }

    /*& a:active {
        @each $pagina in $paginas {
            @include nav--destacado;
        }
    }*/

}

