/*///////////////////////////
/// PÁGINA TECNOLOGÍAS Y PROYECTOS
///////////////////////////*/


.tecnologias {
    width: 100%;

    &__animaciones {
        height: fit-content;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        font-weight: bolder;
        font-size: larger;
        color: rgba(0, 0, 0, 0);
        text-shadow: 0px 0px 14px #0000009e;
        }

    &__1 {
        height: 50px;
        background-image: url("../img/tecnologias/html5.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all 2s;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 20px 0;
    
        &:hover {
            background-position: right;
            color:aliceblue;
            padding-left: 20%;

        }
    }


    &__2 {
        height: 50px;
        background-image: url("../img/tecnologias/css-logo.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all 2s;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 20px 0;
    
        &:hover {
            background-position: right;
            color:aliceblue;
            padding-left: 20%;

        }
    }

    &__3 {
        height: 50px;
        background-image: url("../img/tecnologias/sass.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all 2s;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 20px 0;
    
        &:hover {
            background-position: right;
            color:aliceblue;
            padding-left: 20%;

        }
    }

    &__4 {
        height: 50px;
        background-image: url("../img/tecnologias/python.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all 2s;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 20px 0;
    
        &:hover {
            background-position: right;
            color:aliceblue;
            padding-left: 20%;

        }
    }


    &__5 {
        height: 50px;
        background-image: url("../img/tecnologias/MySQL.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all 2s;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 20px 0;
    
        &:hover {
            background-position: right;
            color:aliceblue;
            padding-left: 20%;

        }
    }
        

    &__6 {
        height: 50px;
        background-image: url("../img/tecnologias/linux.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all 2s;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 20px 0;
    
        &:hover {
            background-position: right;
            color:aliceblue;
            padding-left: 20%;

        }
    }


    &__7 {
        height: 50px;
        background-image: url("../img/tecnologias/Bootstrap.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all 2s;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 20px 0;
    
        &:hover {
            background-position: right;
            color:aliceblue;
            padding-left: 20%;

        }
    }


    &__8 {
        height: 50px;
        background-image: url("../img/tecnologias/WordPress.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all 2s;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 20px 0;
    
        &:hover {
            background-position: right;
            color:aliceblue;
            padding-left: 20%;

        }
    }


    &__9 {
        height: 50px;
        background-image: url("../img/tecnologias/google-workspace.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all 2s;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 20px 0;
    
        &:hover {
            background-position: right;
            color:aliceblue;
            padding-left: 20%;

        }
    }
}





/* GRILLA PROYECTOS */


.proyecto {
    width: 100%;
    height: 100%;
    @include proyecto--flex;


    &__grilla {
        margin-top: 20px;
        display: grid;

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5,1fr);

        column-gap: 10px;
        row-gap: 10px;

        grid-template-areas:
            "proyecto__1"
            "proyecto__2"
            "proyecto__3"
            "proyecto__4"
            "proyecto__5";

        overflow: hidden;
        justify-content: center;

        }

    
    &__titulo {
        font-size: x-large;
        text-shadow: -2px 0px 0px black;
        font-weight: normal;
        color: white;
        width: 100%;
        height: 50%;
    }
    
    &__descripcion {
        display: block;
        font-size: medium;
        width: 100%;
        color: white;
        font-size: medium;
        padding: 0 10px;
        transform: translate(0px, 0px) rotate(-10deg);
        background-color: #0F2027;
    
    
        &:hover {
            display: block;
            transform: translate(0px, -10px) rotate(-10deg);
            background-color: #03212e;
        }
    }




    &__1 {
        grid-area: proyecto__1;
        background: #DD5E89; 
        background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89);  
        background: linear-gradient(to right, #F7BB97, #DD5E89); 
        border: 15px double #000000;
        color:brown;
    
        &:hover {
            background: #0F2027; 
            background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
            background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
        }

    }


    &__2 {
        grid-area: proyecto__2;
        background: #0F2027; 
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
        border: 10px double #000000;
    
        &:hover {
            background: #373B44; 
            background: -webkit-linear-gradient(to right, #4286f4, #373B44);  
            background: linear-gradient(to right, #4286f4, #373B44); 
        }
    }

    &__3 {
        grid-area: proyecto__3;
        background: #373B44; 
        background: -webkit-linear-gradient(to right, #4286f4, #373B44);  
        background: linear-gradient(to right, #4286f4, #373B44); 
        border: 15px double #000000;

        &:hover {
            background: #c31432; 
            background: -webkit-linear-gradient(to right, #240b36, #c31432);  
            background: linear-gradient(to right, #240b36, #c31432); 
        }
    }

    &__4 {
        grid-area: proyecto__4;
        background: #c31432; 
        background: -webkit-linear-gradient(to right, #240b36, #c31432);  
        background: linear-gradient(to right, #240b36, #c31432); 
        border: 10px double #000000;

        &:hover {
            background: #2C3E50; 
            background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  
            background: linear-gradient(to right, #4CA1AF, #2C3E50);   
        }
    }

    &__5 {
        grid-area: proyecto__5;
        background: #2C3E50; 
        background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  
        background: linear-gradient(to right, #4CA1AF, #2C3E50);     
        border: 8px double #000000;

        &:hover {
            background: #DD5E89; 
            background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89);  
            background: linear-gradient(to right, #F7BB97, #DD5E89);    
        }
    }


}